
@{
    ViewBag.Title = "MessageNotification";
}

@Styles.Render("~/Content/Index.css")
<div style="text-align: left; padding-left: 20px">
    <br />
    <h2>EB Units Message Notification send to configured mobile number,when units exceeds maximum range set by alert system</h2>
</div>
<footer>
    <button id="btnback" class="flat-butt">Back</button>
</footer>
@section Scripts{
    <script type="text/javascript">
    $(document).ready(function () {

      $('#btnback').click(function (e)
      {
          location.href = '@Url.Content("~/Home/Index/")';
      });

    });
    </script>
}

